@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1619188726251'); /* IE9 */
  src: url('iconfont.eot?t=1619188726251#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABqgAAAJ1AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBDIERATYCJAMMCwgABCAFhG0HOhvbBRHVkyFkXx7YFGYstMcKlSZ+8uWa+7HpcyloRsbBUtL3OXge93s9N8l7TYlAEvMsIKg5YLsplq1w6xSwnP4BABtwDqGkMODIA54EZ9FVwF7u/Jub4ZZREapLch78L9+WBHa4kF8+ce/0/8Z5F8h8QLmtPc/HBEww0LEGRVZECXHD2AUv8DgE8CGBPKS+sb0fi8EeJ4CsryzNYAtBDIZlLILbsNQg13Cw6rzaBa5G35c/lIgFhaOxp3YvNsxT/b1ZnD7mOTYeEIRAgKsdQAN5gAGZbEwOoxHG1PgoTXehi0FQS0U8nkhoyF3nDw8UAuJil/sBkIVSCr77eMJMFQfFT12uAXATZxroaYCwyCcoP/uWg4sPX0e5/yazRw+23Hl64THm2JOLz2Ydzxhhbj9cdISxM3bRnhkbxv3ZPRAT2JA8EBQTNJDc0BYYKgPLLqbBP6NT1FcAtaeKAAKfyvadCiz/b30NAJ8ff2Q0DE9ZFDDR/xINbDOGxDZpowk9oeXWRE1MKMDH8OCxvSF8ma4Nvye7YAsiBoUX8dBY0khDz4ODL2VwsVTBh1yaVvsSygE0YryBHE4DCEG8giKAt9AEsUca+j4cIvgHlyDR8GFQQrf0JUO8uUEwKg6Q/jBnPsi1aBNX3nB8b1Hykoj1QrnmCHjjypkeD5QlZlyfMagSkPAOHTgNt43hFF4wq5lUz9ZaanqTybwXDXWCUXGA9Ic580FBb20qn7/h+N6idFTV+V8o19w/eOMGkL3yGFT1KK9cnzGoEpDwDh0YhNvGcDYPWjCrmSbEz9Y63Wio0myv3n+ggNVhL9WiRIvBnWWKx1iGDl8UAAAA') format('woff2'),
  url('iconfont.woff?t=1619188726251') format('woff'),
  url('iconfont.ttf?t=1619188726251') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1619188726251#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before {
  content: "\e61c";
}

.icon-bofang1:before {
  content: "\e60a";
}

