<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="1.css">
    <link rel="stylesheet" href="./iconfont.css">
</head>

<body>
    <div class="music_box" id="music_box">
        
        <div class="music_top">
            <div class="logo">
                <span> L</span>
                <span class="hide"> o</span>
                <span class="hide"> v</span>
                <span class="hide"> e</span>
                <span> M</span>
                <span class="hide"> u</span>
                <span class="hide"> s</span>
                <span class="hide"> i</span>
                <span class="hide"> c</span>
            </div>
            <div class="search">
                <div class="search_body">
                    <div class="text"> <input type="text" id="search" v-model="search" v-on:keyup.enter="search_song"></div>
                    <div class="search_logo"><i class="iconfont icon-bofang"></i></div>
                </div>

            </div>
        </div>

        <div class="music_middle">
            <div class="music_list">
                <ul>
                    <li v-for="(item, index) in songs" :key="index" v-on:click="search_song_message(item.id,item.name)">
                        <div class="song" v-text="item.name" ></div>

                        <div class="icon">
                            <div class="icon_start"><i class="iconfont icon-bofang"></i></div>
                            <div class="icon_pause"><i class="iconfont icon-bofang1"></i></div>
                        </div>

                    </li>
                  


                </ul>
            </div>
            <div class="music_img">
                <div class="music_img_top">
                    <img v-bind:src="picurl">
                </div>
                <div class="music_img_bottom">
                    <h2 class="music_img_bottom_song" v-text="name" ></h2> 
                    <p class="music_img_bottom_songer"v-text="songer" ></p>
                </div>
            </div>
            <div class="music_comment">
                <ul>
                    <li class="user" v-for="(item, index) in users" :key="index">
                      <div class="user_imge"><img v-bind:src="item.user.avatarUrl" ></div>
                      <div class="user_text"><span class="user_name"v-text="item.user.nickname+':'"></span>
                       <span class="user_say" v-text="item.content">
                          
                       </span>
                    </div>
                    </li>
               
                    
                </ul>

            </div>
        </div>
        <div class="music_bottom">
            <audio  autoplay  class="music" v-bind:src="url">

              

            </audio>
            <div class="music_control" v-on:click="change"> <i v-if="condition" class="iconfont icon-bofang"></i>
                <i v-else class="iconfont icon-bofang1"></i>
            </div>
        </div>
    </div>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="./1.js"></script>
<script>
 
</script>